.aperitivos {
    background-image: linear-gradient(#ff6169, #ffc917);
    padding: 50px 0;

    &__item {
        display: flex;
        gap: 40px;
        padding: 1.5vw;
        max-width: 650px;
        border-radius: 10px;

        &__text {
            text-align: right;

            h3 {
                font-size: 40px;
                font-weight: bold;
                color: #ffc917;
            }

            h4 {
                font-size: 25px;
                font-weight: bold;
                color: #512baa;
            }

            p {
                max-width: 300px;
            }
        }

        &__image {
            img {
                border-radius: 20px;
            }
        }
    }
}