.aperitivos {
    background-image: linear-gradient(#ff6169, #ffc917);
    padding: 50px 0;

    &__item {
        display: flex;
        gap: 40px;
        padding: 1.5vw;
        max-width: 650px;
        border-radius: 10px;

        @media (max-width: 766px) {
            display: block;
        }

        &__text {
            text-align: right;
            
            @media (max-width: 766px) {
                text-align: center;
            }

            h3 {
                font-size: 40px;
                font-weight: bold;
                color: #ffc917;
            }

            h4 {
                font-size: 25px;
                font-weight: bold;
                color: #512baa;
            }

            p {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 766px) {
    .aperitivos__item--desk-tablet {
        display: none;
    }
}

@media (min-width: 767px) {
    .aperitivos__item--mobile {
        display: none;
    }
}